body {
    margin: 0;
    font-family: Sans-serif;
    
}

/* Header Section */

.header-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: F9FAF8;
}

.links {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 40px;
    padding-top: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    width: 300px;
}

.intro h1 {
    font-size: 40px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.intro p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.sign-up-btn {
    background-color: #3883F6;
    color: white;
    border: 0;
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
}


.img-container {
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
    border-radius: 100%;
}

/* Info Section */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.info-div-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.info-title {
    font-size: 33px;
    font-weight: 900;
    color: #1F2937;
}

.div-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.info-div {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 20px;
}

/* Quote Section */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    height: 200px;
    gap: 10px;
}

.quote {
    font-weight: 100;
    width: 500px;
    color: #1F2937;
    font-size: 23px;
}
